<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_rps"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rps"
        tools:targetApi="31">
        <activity
            android:name=".HofActivity"
            android:exported="false" />
        <activity
            android:name=".onlineActivities.challengeOthersScreen"
            android:exported="false" />
        <activity
            android:name=".playTypeActivity"
            android:exported="false" />
        <activity
            android:name=".rankingsActivity"
            android:exported="false" />
        <activity
            android:name=".onlineActivities.challengesScreen"
            android:exported="false" />
        <activity
            android:name=".rpsOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivities.registerActivity"
            android:exported="false" />
        <activity
            android:name=".menuActivity"
            android:exported="false" />
        <activity
            android:name=".rpsActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivities.loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>